h1{
  text-align:center;
  color:#ffffff;
  text-transform:uppercase;
}
header{
  background: url('http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg' )
}
nav a{
  display:inline-block;
  width:15%;
  padding:2%;
  border-radius:10%;
  margin-left:4%;
  font-size:150%;
  text-decoration:none;
  color:#ffa500;
  text-align:center;
  background-color: rgba(1,1,1,0.5)
  
}
.active{
  background-color:#ffffff;
  color:#0000ff;
}
header{
  padding:2%;
}
img{
  
  width:60%;
  margin:17%;
  display:block;
  border: solid 2px;

}
.left{
  display:block;
  background-color:#3cb371;
  float:left;
  width:20%;
}
.right{
  display:inline-block;
  width:75%;
  margin:1%;
}
th{
  background-image:-webkit-linear-gradient(#006600,#00cc00);
  background-image:-moz-linear-gradient(top,#006600,#00cc00);
  background-image:-o-linear-gradient(top,#006600,#00cc00);
  background-image:linear-gradient(#006600,#00cc00);
  line-height:30px;
  padding:2%;
}
table{
  width:75%;
  margin:2% 10%;
  color:#ffffff;
  font-family:courier,arial,helvetica;
  border:3px solid #000000;
  border-radius:2% 2% 0% 0%;
  border-width: thin medium thick;
  text-shadow: 2px 2px #ff0000;
}
table th:first-child{
  text-align:left;
  
}
tr{
  background-color:rgb(0,102,0,.6);
  line-height:30px;
}
td{
  padding:2%;
  text-align:center;
  width:0%;
  color:#000000;
}
tr td:first-child{
  text-align:left;
}
tr:hover{
  background-color:rgb(0,204,0,1);
}