body{
    padding: 0;
    margin: 0;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #353b48;
}
.section{
    padding: 5%;
    font-size: larger;
    color: #dcdde1;
}
.section > p :hover{
    color: #f5f6fa;
}
.zero>h1{
    font-family: 'Arial Black';
    font-size: 3rem;
    border-bottom: solid 2px white;
}
